%div{ style: 'width: 30rem' }
  .card
    .card-content.px-6
      %h2.title.has-text-centered Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email, class: 'label'
          .control
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input'
        .field
          = f.label :password, class: 'label'
          = f.password_field :password, autocomplete: 'current-password', class: 'input'
        - if devise_mapping.rememberable?
          .field
            = f.label :remember_me, class: 'label' do
              = f.check_box :remember_me, class: 'checkbox'
              Remember me
        .field
          = f.submit 'Log in', class: 'button is-link is-fullwidth'

  #div.card.mt-3.p-4.has-text-centered
    = render 'users/shared/links'
